.corpo{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.head{
    background-color: black;
    padding: 10px 0;
}
.menu{
    display: flex;
    justify-content: center;
}
.menu a{
    color: white;
    padding: 14px 20px;
    transition: background-color 0.3s;
}
.menu a:hover {
    background-color: #333;
}


.ini-section{
    text-align: center;
    color: black;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.ini-section h1{
    font-size: 48px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.ini-section p{
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.button{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.5s;
}
.button:hover{
    background-color: #333;
}
.sobre-section{
    background-color: black;
    padding: 50px 20px;
    text-align: center;
}
.sobre-section h2{
    color: white;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sobre-section p{
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 800px;
    margin: 0 auto 20px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#conta{
    background-color: white;
    text-align: center;
}
#conta h2{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#planos{
    background-color: black;
    text-align: center;
    padding: 50px 20px;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card{
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    width: 270px;
    box-shadow: 0 4px 8px #333;
    transition: transform 0.5s;
    margin-top: 20px;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px #333;
}
.card h3{
    font-size: 23px;
    margin-bottom: 5px;
}
.card p{
    font-size: 16px;
    margin-bottom: 5px;
}
.preco{
    font-weight: bold;
    font-size: 18px;
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
#planos h2{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#contato{
    background-color: white;
    color: black;
    padding: 50px 20px;
    text-align: center;
}
#contato h2{
    font-size: 30px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contato-form{
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}
.contato-form label{
    display: block;
    margin-bottom: 5px;
}
.contato-form input, .contato-form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 
}
.contato-form button{
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}
.contato-form button:hover{
    background-color: #333;
}